### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Build directories
./GCC
./ICC
./PGI
./CLANG
./ARMCLANG

# Executables
likwid-bench
/tests/**/test_bstrlib_helper
/tests/**/test_bitmap
/tests/**/test_allocator
/tests/**/test_map
/tests/**/test_ptt2asm
/tests/**/test_read_yaml_ptt
/tests/**/test_results
/tests/**/test_stack
/tests/**/test_topology
/tests/**/test_calculator
